.tarjetaProducto_contenedor{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 330px;
  width: 224px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: height .1s linear .2s;

  cursor: pointer;
  margin: 2rem;
}

.tarjetaProducto_contenedor:hover{
  box-shadow: 5px 8px 10px rgb(207, 207, 207), -5px 8px 10px rgb(207, 207, 207);
}

img {
  max-width: 224px;
  max-height: 175px;
}

.tarjetaProducto {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.tarjetaProducto_fila{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetaProducto_fila-foto{
  height: 250px;
}

.tarjetaProducto_fila-padding{
  padding: 15px;
}

.tarjetaProducto_fila-column{
  flex-direction: column;
}

.tarjetaProducto_fila-izquierda{
  align-items: flex-start;
}

.tarjetaProducto_textoSecundario{
  color : #999;
  display: none;
}

.tarjetaProducto_textoSecundario:hover{
  display: flex;
}

.tarjetaProducto_textoSecundario-s14{
  font-size: 14px;
}


.tarjetaProducto_textoSecundario-tachado{
  text-decoration: solid line-through 1px;
  display: none;
}

.tarjetaProducto_lineaHorizontal{
  border-bottom: solid 1px #EBEBEB;
  padding-top: 1px;
  width: 100%;
}
.tarjetaProducto_precioNuevo{
  color : #333;
  margin: 0px;
  font-size: 24px;
  margin-bottom: 10px;
}

.tarjetaProducto_descuento{
  color : #00a650;
  font-size: 14px;
  margin: 5px;
}

.full {
  font-size: 10px;
  font-weight: 900;
}

.tarjetaProducto_descuento-negrita{
  font-weight: bold;
}

@keyframes datosAparecer {
  0% {
    display: none;
  }
  100% {
    display: flex;
  }
}